

// ==============================
// PARTIAL IMPORTS
// ==============================

@import '../styles/_color_variables.scss';
@import '../styles/_font_variables.scss';


.homePageContainer {

    grid-column : 1 / -1; // do this so that the child elements take up the entire
    // screen horizontally

    .homePageContainerImageContainer {

        // ==============================
        // Image hero element ( full page ) that lays on top of the header element and the main element
        // ==============================
    
        // ****
        // remember we are using styled jsx in the index.js file to lay the header nav elements
        // on top of the hero image element
        // ****
    
        position : absolute;
        left     : 0;
        top      : 0;
        right    : 0;
        bottom   : 0;
    
        background-image      : linear-gradient( to bottom, rgba( 61, 71, 98, 0.9 ),  rgba( 81, 91, 118, 0.9 ) ), url( ../public/images/sedona_01.jpg );
        background-position   : center; 
        background-size       : cover;
        background-blend-mode : multiply;

        .homePageContainerImageContainerH2 {

            margin  : 28.0rem 0 4.0rem 0;
            padding : 0 4.0rem 0 4.0rem;

            font-family    : $font-primary-4;
            font-size      : 3.2rem;
            font-weight    : 700;
            color          : $gray-225;
            letter-spacing : 1px;
            text-align     : center;

        } // end of title

    } // end of homePageContainerImageContainer

} // end of homePageContainer